<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Customer Home</title>
</head>
<body>
	<div>
		<h3 style="color: green;" th:text="${session.success}"></h3>
		<h3 style="color: red;" th:text="${session.failure}"></h3>
		<th:block th:text="${@messageRemover.remove()}"></th:block>
	</div>

	<div align="center">
		<h1>Customer Home</h1>
		<a href="/view-products"><button>View Products</button></a><br>
		<br> <a href="/search-products"><button>Search Products</button></a><br>
		<br> <a href="/view-cart"><button>View Cart</button></a><br>
		<br> <a href="/view-orders"><button>View Previous Orders</button></a><br>
		<br>
	</div>
</body>
</html>